.all {
    display: flex;
}

.circle-wrap {
    display: grid;
    grid-template-columns: repeat(1, 160px);
    grid-gap: 80px;
    margin-top: 100px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    background: #d9d7da;
    border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3, 
.circle-wrap .circle .fill-4 {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
    width: 138px;
    height: 139px;
    border-radius: 50%;
    background: white;
    line-height: 120px;
    text-align: center;
    margin-top: 6px;
    margin-left: 6px;
    color: black;
    position: absolute;
    z-index: 100;
    font-weight: bold;
    font-size: 25px;
}

/* color animation */

.mask .fill-1 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: orange;
}

.mask.full-1,
.circle .fill-1 {
    animation: fill-1 ease-in-out 2s;
    transform: rotate(165deg);
}

@keyframes fill-1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(165deg);
    }
}

/* 2nd bar */

.mask .fill-2 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: orange;
}

.mask.full-2,
.circle .fill-2 {
    animation: fill-2 ease-in-out 2s;
    transform: rotate(135deg);
}

@keyframes fill-2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(135deg);
    }
}

/* 3rd progress bar */
.mask .fill-3 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: orange;
}

.mask.full-3,
.circle .fill-3 {
    animation: fill-3 ease-in-out 2s;
    transform: rotate(117deg);
}

@keyframes fill-3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(117deg);
    }
}


/* 4th progress bar */

.mask .fill-4 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: orange;
}

.mask.full-4,
.circle .fill-4 {
    animation: fill-4 ease-in-out 2s;
    transform: rotate(165deg);
}

@keyframes fill-4 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(165deg);
    }
}


.inside-circle span{
    font-size: 10px;
    position: absolute;
    top: 35px;
    right: 35px;
    font-weight: normal;
    color: gray;
}

.inside-circle .jp{
    font-size: 10px;
    position: absolute;
    top: 35px;
    right: 60px;
    font-weight: normal;
    color: gray;
    
}